.month-picker {
	-moz-user-select: none;
	user-select: none;
	position: relative;
	font: normal 1em sans-serif;
	width: inherit;
	display: flex;
}

.month { flex: 1; }

.selected { color: blue; font-weight: bold; }
