.tree {
	-moz-user-select: none;
	user-select: none;
	cursor: default;
	width: inherit;
	position: relative;
	font: normal 1em sans-serif;
}

.tree-node { list-style: none; margin: 0; padding: 0; }
.tree-node ul { margin: 0; position: relative; margin-left: 1em; }

.tree-node ul ul { margin-left: 0.5em; }

.tree-node li {
	position: relative;
	margin: 0;
	color: #000;
	line-height: 2.1em;
	padding: 0 1.2em;
}

.tree-node ul::before,
.tree-node ul li::before {
	content: '';
	position: absolute;
	display: block;
}

.tree-node ul::before {
	top: 0;
	bottom: 18px;
	left: 0;
	width: 0;
	border-left: 1px solid #000;
}

.tree-node ul li::before {
	top: 1em;
	left: 0;
	height: 0;
	border-top: 1px solid #000;
	margin-top: -1px;
	width: 0.75em;
}




.edit-box,
.btn-new,
.edit-off,
.edit .edit-on { display: none; }

.edit .btn-new,
.edit .edit-box,
.edit .edit-off { display: block; }
